@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap");
@import "tailwindcss";

.font-bebas {
  font-family: "Bebas Neue", cursive;
}
@theme {
  --color-primamary-orange: #ff6900;
  --color-secondary-blue: #061a32;
}
