@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap");
@import "tailwindcss";

.font-bebas {
  font-family: "Bebas Neue", cursive;
}
@theme {
  --color-primary-orange: #ff6900;
  --color-secondary-blue: #061a32;
}
@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  } /* 50% kina vane hami list double garchhau */
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: infinite-scroll 30s linear infinite;
}

/* .scroll-container:hover .animate-scroll {
  animation-play-state: paused;
} */
